        <table class="table table-striped table-hover table-bordered table-responsive" ng-show="products">
         <thead style="text-align:center">
                  <tr>
                  	
                      <td colspan="4">
                                        <span class="pagination">
                                            <span ng-class="prevPageDisabled()">
                                                <a href ng-click="prevPage()">« Prev</a>
                                            </span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span ng-repeat="n in range()"
                                                  ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                                <a href="#">{{n+1}}</a>
                                            </span>
                                            <span ng-class="nextPageDisabled()">
                                                <a href ng-click="nextPage()">Next »</a>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
               </thead>
            <thead>
                <tr>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product description
                    </th>
                    <th>
                        Price details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products | offset: currentPage*itemsPerPage | limitTo : itemsPerPage">
                    <td width="20%" class="prdtimg"><img class="centeredImg" ng-src="{{product.image}}" 
                    alt="Image currently unavailable"></td>
                    <td width="60%">
                        <a href="#/viewDetails/{{product.sku}}/{{userId}}"> <h4><b>{{product.name}}</b></h4> </a>
                        <p><b>Product Id: </b>{{product.sku}}</p>
                        <p><b>Short Description:</b> {{product.shortDescription}}</p>
                        <p ng-show="product.customerReviewAverage"><b>Customer rating :</b> {{product.customerReviewAverage}} out of 5</p>
                    </td>
                    <td width="30%" class="priceDetails">
                    	<button ng-click="addToFavorites(product.sku)" class="btn btn-warning">
                            <span class="glyphicon glyphicon-star"></span> Add to favorites
                        </button>
                        <button ng-click="addToCart(product.sku)" class=" btn btn-success">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                        </button>
                        <div class="salePrice"> ${{product.salePrice}} </div>
                        <div ng-if="(product.regularPrice - product.salePrice) > 0"> ON SALE </div>
                        <div class="regularPrice"> (Reg. price: ${{product.regularPrice}}) </div>
                        <div ng-if="(product.regularPrice - product.salePrice) > 0">
                        	<div class="savings"> You save ${{product.regularPrice - product.salePrice}}!! </div>
                        </div>
                    </td>
                </tr>
            </tbody>
             <tfoot style="text-align:center">
                                <tr>
                                    <td colspan="4">
                                        <span class="pagination">
                                            <span ng-class="prevPageDisabled()">
                                                <a href ng-click="prevPage()">« Prev</a>
                                            </span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span ng-repeat="n in range()"
                                                  ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                                <a href="#">{{n+1}}</a>
                                            </span>
                                            <span ng-class="nextPageDisabled()">
                                                <a href ng-click="nextPage()">Next »</a>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
               </tfoot>
        </table>