<div class="topPadding">
	<div class="col-sm-4"></div>
	<div class="col-sm-5">
		<form class="form-signin">
			<h3 class="form-signin-heading">Please sign in</h3>
			<br />
			<span class="errorMsg" ng-show="loginError"> Username or password is incorrect</span>
			<div>
				<label for="username">Username</label> <input type="text" id="username" class="form-control" ng-model="user.username"
					placeholder="Username" required autofocus>
			</div>
			<br />
			<div>
				<label for="inputPassword">Password</label> <input type="password" id="inputPassword" class="form-control" ng-model="user.password"
					placeholder="Password" required>
			</div>
			<br />
			<div>
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Sign in</button>
			</div>
		</form>
	</div>
	<div class="col-sm-3"></div>
</div>