@media screen and (max-width:650px) {

.button1{
    float :left;
}
.button_links {
    padding: 15% 30% 0% 20%;
}

    .contact {
    height: 15%;
    width: 15%;
    border-radius: 50% 50%;
    
}


.paddingLeft {
    padding-left: 40%;
    padding-top: 15px;
}

#texts{
    font-size:17px;
}

    ul.master_navigation {
        font-size: 17px;
    }

    #contacts {
    padding: 5% 0% 0% 30%;
}
    .textColor{
    color : whitesmoke;
    font-weight : bold;
}

}

@media screen and (min-width:650px) and (max-width:780px) {
    .button_links {
        padding: 5% 0% 0% 0%;
    }

    .textColor{
    color : whitesmoke;
    padding-left : 20%;
    font-weight : bold;
}

    .round:hover {
        width: 130%;
        height: 130%;
        left: -15%;
        top: -15%;
        /*font-size: 150%;*/
        font-size : 24px;
        padding-top: 40%;
        -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        z-index: 2;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

    .contact {
    height: 16%;
    width: 16%;
    border-radius: 50% 50%;
}

#contacts {
    padding: 5% 20% 0% 30%;
}


.paddingLeft {
    padding: 3% 20% 0% 38%;
}

#texts{
    font-size:19px;
}

ul.master_navigation {
        font-size: 19px;
    }
}

@media screen and (min-width:780px) and (max-width:1050px) {
    .button_links {
    padding: 5% 0% 0% 20%;
    
}

    .textColor{
    color : whitesmoke;
    padding-left : 30%;
    font-weight : bold;
}
        .round:hover {
        width: 130%;
        height: 130%;
        left: -15%;
        top: -15%;
        /*font-size: 150%;*/
        font-size : 24px;
        padding-top: 40%;
        -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        z-index: 2;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

    .contact {
    height: 16%;
    width: 16%;
    border-radius: 50% 50%;
}

#contacts {
    padding: 5% 10% 0% 50%;
}

.paddingLeft {
    padding: 3% 20% 0% 55%;
}

#texts{
    font-size:19px;
}

ul.master_navigation {
        font-size: 19px;
    }
}

@media screen and (min-width:1050px) {
    .button_links {
    padding: 5% 7% 0% 38%;
}

        .round:hover {
        width: 130%;
        height: 130%;
        left: -15%;
        top: -15%;
        /*font-size: 125%;*/
        font-size : 24px;
        padding-top: 30%;
        -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        z-index: 2;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

    .contact {
    height: 10%;
    width: 10%;
    border-radius: 50% 50%;
}
   
#contacts {
    padding: 5% 0% 0% 50%;
}

.github {
    height: 15%;
    width: 13%;
    border-radius: 60% 60%;
}

.paddingLeft {
    padding-left: 55%;
    padding-top: 15px;
}

#texts{
    font-size:21px;
}

ul.master_navigation {
        font-size: 21px;
    }

.textColor{
    color : whitesmoke;
    padding-left : 40%;
    font-weight : bold;
}

}


ul.master_navigation {
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}

    ul.master_navigation li {
        display: inline-block;
        padding: 0 0.5%;
    }

ul li a {
    color: #88f;
    font-weight: bold;
    text-decoration: none;
}

    ul li a:visited {
        color: greenyellow;
    }

    ul li a:hover {
        color: #f00;
        transform: scale(1.15);
    }

p {
    text-align: justify;
}

body {
    width: 90%;
    max-width: 100%;
    margin: 0;
    padding: 2% 3% 2% 5%;
    background-image: url(images/my_pics/background_img3.jpg);
}

.mypic {
    width: 40%;
    height: 40%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    float: left;
    z-index : 1;
   border-radius: 50% 50%;
   /* padding: 2% 2% 2% 2%; */
    margin : 2%;
}

#content {
    height: 30%;
    width: 100%;
    padding-top: 5%;
}

#texts {
    padding: 0% 8% 3% 3%;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    color: whitesmoke;
}

.links {
    transition: all 1s ease;
}

    .links:hover {
        transform: scale(1.15);
    }

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
   /* float: left;*/
    text-align: center;
    padding : 1% 5% 5% 5%;
}

td {
    padding: 4% 2% 1% 15%;
}


@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 50%;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}



a.red {
    background-color: rgba(239,57,50,1);
    /*color: rgba(133,32,28,1);*/
    background-image : url(images/my_pics/project_img.jpeg);
    padding-top : 60px;
     color: #333300;
    font-size : 22px;
    font-weight : bold;
    font-style : italic;
    border-color: rgba(133,32,28,.2);
}

    a.red:hover {
        color: rgba(239,57,50,1);
    }

a.green {
    background-color: rgba(1,151,171,1);
    background-image : url(images/my_pics/experiment_img.jpeg);
    /*color: rgba(0,63,71,1);*/
    padding-top : 60px;
     color: #333300;
    font-size : 22px;
    font-weight : bold;
    font-style : italic;
    border-color: rgba(0,63,71,.2);
}

    a.green:hover {
        color: rgba(1,151,171,1);
        font-size : 26px;
    font-weight : bold;
    font-style : italic;
    }

a.yellow {
    background-color: rgba(252,227,1,1);
    /*color: rgba(153,38,0,1);*/
    background-image : url(images/my_pics/blog-img.jpeg);
    padding-top : 60px;
     color: #333300;
    font-size : 22px;
    font-weight : bold;
    font-style : italic;
    border-color: rgba(153,38,0,.2);
}

    a.yellow:hover {
        color: rgba(252,227,1,1);
    }

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
    font-size : 18px;
}

.round span:hover {
    opacity: .85;
    font-size : 18px;
    color : #fff;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
    background: rgba(0,63,71,.7);
}

.red span {
    background: rgba(133,32,28,.7);
}

.yellow span {
    background: rgba(161,145,0,.7);
}

.heading {
    text-align: center;
    font-size: 40px;
    color: rgb(151,35,36);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white,
        0 0 0.2em white;
    
}




